<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.ray.alarm</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/raymondzeng/alarm-cli/play_itunes.py</string>
      <string>rain</string>
      <string>2</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Minute</key>
      <integer>58</integer>
      <key>Hour</key>
      <integer>15</integer>
      <key>Day</key>
      <integer>25</integer>
      <key>Month</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
